

:root {
  /* Layout Base */
  --bg: #EEB76B;
  --text: #9C3D54;
  --light-text: #FFE6C5;
  --destaque: #E2703A;
  --cinza: #afafaf;

  /* Status */
  --atencao: #E2953A;
  --neutro: #729C3D;
  --alerta:  #9C3D3D;
}



* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text);
  background-color: var(--bg);
}

li {
  list-style: none;
}

ul > li{
  font-size: 1.5rem;
}

h1,
h3 {
  font-family: 'Koho',sans-serif;
  font-weight: 400;
}

h3 {
  color: var(--bg);
  font-size: 2rem;
}


.btn {
  text-decoration: none;
  cursor: pointer;
  z-index: 3;
  border: none;
}

.btn--grande {
  padding: 20px;
  width: 80px;
}

.icone--pequeno {
  width: 23px;
  height: 23px;
}

.opcoes {
  opacity: 0;
  transform: translateX(130px);
  transition: opacity 0.3s ease-in 0.4s;
  width: 23px;
  height: 23px;
}

.opcoes--expandir {
  transform: translateX(0);
  opacity: 1;
}


.opcoes button:hover {
  filter: brightness(2);
}
.opcoes__editar img , .opcoes__excluir img{
  width: 20px;
}

.btn--redondo-pequeno {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  height: 28px;
  border-radius: 80px;
}

.btn--expansivel  {
  background-color: var(--destaque);
  animation: retrair 0.5s;
  padding-right: 3px;
}

.btn--expansivel-expandir {
  padding-right: 70px;
  animation: expandir 0.7s;
}

.arrow-icon  {
  transition: transform 0.3s ease-out;
}
.btn--expansivel-expandir img {
  transform: rotate(180deg);
}

.item__btn-descricao  {
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%); 
}

.item__btn-descricao:active ~ .item__descricao {
  opacity: 1;
  height: 50px;
}

.item__btn-descricao:active ~ .tarefas__item__conteudo {
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 50px;
}

.item__descricao {
  background-color: #729C3D;
  color: var(--light-text);
  padding: 8px 10px;
  border-radius: 0px 0px 20px 20px;
  font-size: 1.2rem;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 22px;
  position: absolute;
  opacity: 0;
  
  width: 99.8%;
  height: 0px;

  z-index: -1;
  transition: height 0.2s ease-out, opacity 0.4s ease-out;
  
}

.tarefas__item__dias-restantes {
  background-color: var(--neutro);
  border-radius: 20px;
  color: var(--light-text);
  font-size: 1.2rem;
  padding: 2px 10px;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

@keyframes expandir {
  0% {
    padding-right: 3px;
  }

  50% {
    padding-right: 80px;
  }
}

@keyframes retrair {
  0% {
    padding-right: 70px;
  }

  100% { 
    padding-right: 3px;
  }
}

.opcoes {
  position: absolute;
  top: 2px;
  right: 4px;
  height: 30px;
  width: 60px;
  z-index: 4;
}

.btn--inline {
  background-color: transparent;
  width: 25px;
}

.tarefas__item__opcoes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.btn--redondo {
  background: linear-gradient(180deg, #E2703A 20.31%, #9C3D54 100%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1), 0px 20px 30px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 80px;
  position: absolute;
  bottom: -8%;
}

/* Principal */
.container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.96) 0%, #F1F1F1 100%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15), 0px 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  width: 20vw;
  max-width: 450px;
  min-width: 400px;
  height: 55vh;
  min-height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; 
}

.header {
  position: relative;
  color: var(--light-text);
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header__profile-avatar {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: var(--light-text);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}

.info {
  margin: 10px;
  display: flex;
  align-items: center;
}
.info__icone_calendario {
  padding: 5px 10px 0 0;
  width: 60px;
}

.container::before {
  content: '';
  background-image: url('../icons/folha-de-papel.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: -30px;
  width: 100%;
  height: 120px;
  z-index: -1;

} 

.tarefas {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.tarefas__item {
  position: relative;
}

.tarefas__lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  min-height: 360px;
  width: 380px;
  overflow-y: scroll;
  
}

.tarefas__lista > li, label {
  cursor: pointer;
}


.info__tarefas-pendentes-label--destaque,
.info__dia--destaque,
.info__mes--destaque {
  font-family: 'Koho', sans-serif;
  font-weight: 700;
}

.info__numero-tarefas {
  color:var(--text);
  background-color: var(--bg);
  display: inline-block;
  padding: 1px 4px;
  border-radius: 5px;
  position: relative;
}

.tarefas__item__conteudo {
  display: block;
  
  margin-top: 30px;
  background-color: var(--light-text);
  border: 1.5px solid var(--bg);
  box-shadow:
  0 3.2px 2.7px rgba(0, 0, 0, 0.04),
  0 6.3px 8.9px rgba(0, 0, 0, 0.054),
  0 17px 40px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  width: 300px;
  text-align: left;
  display: flex;
  position: relative;
  padding: 2px 0 0 10px;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;

}


.tarefas__item__conteudo:hover {
  transform: scale(1.05);
}

/* .tarefas__item:hover {
  transform: scale(1.05);
} */

.concluido {
  box-shadow: inset 5px 5px 10px hsla(0, 0%, 0%, 0.2),
            inset -5px -5px 10px hsla(0, 0%, 0%, 0.07);
}

.concluido:hover {
  filter: brightness(1.08);
  transform: scale(1);
}


.riscado {
  width: 0px;
  height: 2px;
  background-color: var(--bg);
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  transition: width 0.5s ease-in-out;
}

.custom-checkbox {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 6px;
}


input[type=checkbox] + label svg {
  stroke-width: 1;
  fill: transparent;
  
}

input[type=checkbox] + label svg .box {
  stroke-width: 1;
  stroke-dasharray: 300;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s linear;
}

input[type=checkbox] + label svg .check {
  stroke-width: 1;
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  transition: stroke-dashoffset 0.3s linear;
}

input[type=checkbox]:checked + label .box {
  stroke-dashoffset: 300;
}

input[type=checkbox]:checked + label .check {
  stroke-dashoffset: 0;
}

input[type=checkbox]:checked + label {
  color: var(--bg);
}



/* 
input[type=checkbox]:checked ~ label::before {
  width: 130px;
}

*/

input[type=checkbox] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 7px;
  left: 13px;
}

.scrollbar-thumb {
  background-color: #c9c9c9;
  width: 100px;
}

.scroll-content li:last-child {
  margin-bottom: 50px;
}

.sombra {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  border-radius: 0 0px 20px 20px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,230,197,1) 60%);
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}


.sombra-expandir {
  height: 160px;
  opacity: 1;
}

.tarefas__adicionar-tarefa  {
  left: 50%;
  transform: translateX(-50%);
}

.campo {
  margin: 5px 0px;
}

.caminho {
  display: flex;
  color:var(--cinza);
  font-weight: 500;
  position: relative;
  top: 20px;
  left: 20px;
}

.caminho > li {
  margin-right: 8px;
  font-size: 1.2rem;
}

.caminho > li:not(.caminho__pagina--principal)::after {
  content: url(../icons/flecha-divisora.svg);
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-left: 5px;
}

.caminho__pagina--principal {
  color: #E2703A;
}

form input, textarea {
  border: none;
  border-bottom: 1.5px solid var(--cinza);
  font-family: 'Archivo', sans-serif;
  font-size: 1.4rem;
  width: 100%;
  display: block;
  background-color: transparent;
  color: var(--cinza);

}

form input::placeholder, textarea::placeholder {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

form input:focus, textarea:focus {
  outline: none;
}

form label {
  font-size: 1.4rem;
  color: var(--cinza);
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: all 0.08s ease-in;
}

.tarefas-form {
  margin: 20px 15px;
  padding: 8px;
  display: block;
}

.tarefas-form div {
  margin-top: 20px;
  position: relative;
}

.campo {
  display: block;
}

.tarefas-form__campo-data {
  display: flex;
}

.tarefas-form__campo-data div {
  width: 110px;
  margin-right: 20px;
}

textarea {
  resize: none;
}

textarea:focus ~ label {
  color: var(--text);
  top: -20px;
  font-size: 1.2rem;

}
.tarefas-form  .tarefas-form__campo-descricao {
  margin-top: 40px;
}

.tarefas-form__campo-descricao__inpt {
  resize: none;
}
.tarefas-form__descricao-lbl {
  top: 25px;
}

.tarefas-form input:focus ~ label,
.tarefas input:valid ~ label {
  top: -20px;
  font-size: 1.2rem;
  color: var(--text);
}


.tarefas-form input:focus::placeholder,
.tarefas-form textarea:focus::placeholder {
  opacity: 1;
}
